openapi: 3.1.0
info:
  title: Tokamak Energy Posts API
  version: wp/v2
  description: 'Public, unauthenticated read access to the Tokamak Energy news archive at tokamakenergy.com/latest-news/,
    served by the WordPress core REST API. Verified live at 84 published posts on 2026-08-30. Read-only:
    the underlying routes also accept POST/PUT/PATCH/DELETE, but those require WordPress Application Password
    authentication and are not part of the anonymous surface described here.'
  contact:
    name: Tokamak Energy
    url: https://tokamakenergy.com/contact-us/
  x-derived-from: Live WordPress REST API route descriptors and OPTIONS item schemas served by https://tokamakenergy.com/wp-json/
    (probed 2026-08-30).
servers:
- url: https://tokamakenergy.com/wp-json
  description: Tokamak Energy WordPress REST API
tags:
- name: Posts
  description: Public, unauthenticated read access to the Tokamak Energy news archive at tokamakenergy.com/latest-news/,
    served by the WordPress core REST API. Verified live at 84 published posts on 2026-08-30. Read
paths:
  /wp/v2/posts:
    get:
      operationId: listPosts
      summary: List posts
      description: Returns a paginated collection of posts published on tokamakenergy.com. Anonymous,
        read-only. Probed live 2026-08-30 (84 items).
      tags:
      - Posts
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: search
        in: query
        description: Limit results to those matching a string.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        required: false
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        required: false
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_semantics
        in: query
        description: How to interpret the search input.
        required: false
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        required: false
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        required: false
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        required: false
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - dp-rewrite-republish
            - any
            type: string
      - name: tax_relation
        in: query
        description: Limit result set based on relationship between multiple taxonomies.
        required: false
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: categories
        in: query
        description: Limit result set to items with specific terms assigned in the categories taxonomy.
        required: false
        schema:
          type:
          - object
          - array
      - name: categories_exclude
        in: query
        description: Limit result set to items, except those with specific terms assigned in the categories
          taxonomy.
        required: false
        schema:
          type:
          - object
          - array
      - name: tags
        in: query
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
        required: false
        schema:
          type:
          - object
          - array
      - name: tags_exclude
        in: query
        description: Limit result set to items, except those with specific terms assigned in the tags
          taxonomy.
        required: false
        schema:
          type:
          - object
          - array
      - name: sticky
        in: query
        description: Limit result set to items that are sticky.
        required: false
        schema:
          type: boolean
      - name: ignore_sticky
        in: query
        description: Whether to ignore sticky posts or not.
        required: false
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        description: Limit result set to items assigned one or more given formats.
        required: false
        schema:
          type: array
          items:
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
            type: string
      responses:
        '200':
          description: A page of posts.
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page value.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
              example:
              - id: 9774
                date: '2026-08-18T08:59:47'
                date_gmt: '2026-08-18T07:59:47'
                guid:
                  rendered: https://tokamakenergy.com/?p=9774
                modified: '2026-08-18T09:25:04'
                modified_gmt: '2026-08-18T08:25:04'
                slug: tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal
                status: publish
                type: post
                link: https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/
                title:
                  rendered: Tokamak Energy&#8217;s &#8216;Focus Collection&#8217; featured in prestigious
                    Nuclear Fusion journal
                content:
                  rendered: '<p>We’re celebrating this week’s publication of a Tokamak Energy special
                    edition of Nuclear Fusion, the most prestigious fusion energy journal in the world.</p>

                    <p>Our ‘Focus Collection’ of 11 papers brings together open, peer-reviewed work spanning
                    plasma physics, engineering systems, and commercial considerations for a fusion pilot
                    plant.</p>

                    <p>While we will not go on to construct it, the papers are a model for accelerating
                    fusion development and showcase our deep design expertise and broad systems integration
                    capabilities. As the only private company with 15 years’ experience designing, bu
                    … [truncated by API Evangelist for readability; full value returned by the live API]'
                  protected: false
                excerpt:
                  rendered: '<p>We’re celebrating this week’s publication of a Tokamak Energy special
                    edition of Nuclear Fusion, the most prestigious fusion energy journal in the world.
                    Our ‘Focus Collection’ of 11 papers brings together open, peer-reviewed work spanning
                    plasma physics, engineering systems, and commercial considerations for a fusion pilot
                    plant. While we will not go on to construct [&hellip;]</p>

                    '
                  protected: false
                author: 4
                featured_media: 9775
                comment_status: closed
                ping_status: closed
                sticky: false
                template: ''
                format: standard
                meta:
                  inline_featured_image: false
                  footnotes: ''
                categories:
                - 4
                tags: []
                class_list:
                - post-9774
                - post
                - type-post
                - status-publish
                - format-standard
                - has-post-thumbnail
                - hentry
                - category-news
                - grve-isotope-item
                - grve-blog-item
                yoast_head: '<!-- This site is optimized with the Yoast SEO plugin v27.4 - https://yoast.com/product/yoast-seo-wordpress/
                  -->

                  <title>Tokamak Energy&#039;s &#039;Focus Collection&#039; featured in prestigious Nuclear
                  Fusion journal - Tokamak Energy</title>

                  <meta name="description" content="We’re celebrating this week’s publication of a Tokamak
                  Energy special edition of Nuclear Fusion, the most prestigious fusion energy journal
                  in the world. Our ‘Focus Collection’ of 11 papers brings together open, peer-reviewed
                  work spanning plasma physics, engineering systems, and commercial considerations for
                  a fusion pil … [truncated by API Evangelist for readability; full value returned by
                  the live API]'
                yoast_head_json:
                  title: Tokamak Energy's 'Focus Collection' featured in prestigious Nuclear Fusion journal
                    - Tokamak Energy
                  description: We’re celebrating this week’s publication of a Tokamak Energy special edition
                    of Nuclear Fusion, the most prestigious fusion energy journal in the world. Our ‘Focus
                    Collection’ of 11 papers brings together open, peer-reviewed work spanning plasma
                    physics, engineering systems, and commercial considerations for a fusion pilot plant.
                  robots:
                    index: index
                    follow: follow
                    max-snippet: max-snippet:-1
                    max-image-preview: max-image-preview:large
                    max-video-preview: max-video-preview:-1
                  canonical: https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/
                  og_locale: en_GB
                  og_type: article
                  og_title: Tokamak Energy's 'Focus Collection' featured in prestigious Nuclear Fusion
                    journal - Tokamak Energy
                  og_description: We’re celebrating this week’s publication of a Tokamak Energy special
                    edition of Nuclear Fusion, the most prestigious fusion energy journal in the world.
                    Our ‘Focus Collection’ of 11 papers brings together open, peer-reviewed work spanning
                    plasma physics, engineering systems, and commercial considerations for a fusion pilot
                    plant.
                  og_url: https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/
                  og_site_name: Tokamak Energy
                  article_published_time: '2026-08-18T07:59:47+00:00'
                  article_modified_time: '2026-08-18T08:25:04+00:00'
                  og_image:
                  - width: 2560
                    height: 1701
                    url: https://tokamakenergy.com/wp-content/uploads/2026/08/Nuclear-Fusion-Team-Aug-2026-scaled.jpg
                    type: image/jpeg
                  author: Stuart White
                  twitter_card: summary_large_image
                  twitter_creator: '@TokamakEnergy'
                  twitter_site: '@TokamakEnergy'
                  twitter_misc:
                    Written by: Stuart White
                    Estimated reading time: 3 minutes
                  schema:
                    '@context': https://schema.org
                    '@graph':
                    - '@type': Article
                      '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/#article
                      isPartOf:
                        '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/
                      author:
                        name: Stuart White
                        '@id': https://tokamakenergy.com/#/schema/person/d72ed58d58a15a93dc6a403c5040a1bd
                      headline: Tokamak Energy&#8217;s &#8216;Focus Collection&#8217; featured in prestigious
                        Nuclear Fusion journal
                      datePublished: '2026-08-18T07:59:47+00:00'
                      dateModified: '2026-08-18T08:25:04+00:00'
                      mainEntityOfPage:
                        '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/
                      wordCount: 475
                      publisher:
                        '@id': https://tokamakenergy.com/#organization
                      image:
                        '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/#primaryimage
                      thumbnailUrl: https://tokamakenergy.com/wp-content/uploads/2026/08/Nuclear-Fusion-Team-Aug-2026-scaled.jpg
                      articleSection:
                      - Our news
                      inLanguage: en-GB
                    - '@type': WebPage
                      '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/
                      url: https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/
                      name: Tokamak Energy's 'Focus Collection' featured in prestigious Nuclear Fusion
                        journal - Tokamak Energy
                      isPartOf:
                        '@id': https://tokamakenergy.com/#website
                      primaryImageOfPage:
                        '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/#primaryimage
                      image:
                        '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/#primaryimage
                      thumbnailUrl: https://tokamakenergy.com/wp-content/uploads/2026/08/Nuclear-Fusion-Team-Aug-2026-scaled.jpg
                      datePublished: '2026-08-18T07:59:47+00:00'
                      dateModified: '2026-08-18T08:25:04+00:00'
                      description: We’re celebrating this week’s publication of a Tokamak Energy special
                        edition of Nuclear Fusion, the most prestigious fusion energy journal in the world.
                        Our ‘Focus Collection’ of 11 papers brings together open, peer-reviewed work spanning
                        plasma physics, engineering systems, and commercial considerations for a fusion
                        pilot plant.
                      breadcrumb:
                        '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/#breadcrumb
                      inLanguage: en-GB
                      potentialAction:
                      - '@type': ReadAction
                        target:
                        - https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/
                    - '@type': ImageObject
                      inLanguage: en-GB
                      '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/#primaryimage
                      url: https://tokamakenergy.com/wp-content/uploads/2026/08/Nuclear-Fusion-Team-Aug-2026-scaled.jpg
                      contentUrl: https://tokamakenergy.com/wp-content/uploads/2026/08/Nuclear-Fusion-Team-Aug-2026-scaled.jpg
                      width: 2560
                      height: 1701
                    - '@type': BreadcrumbList
                      '@id': https://tokamakenergy.com/2026/08/18/tokamak-energys-cocus-collection-featured-in-prestigious-nuclear-fusion-journal/#breadcrumb
                      itemListElement:
                      - '@type': ListItem
                        position: 1
                        name: Home
                        item: https://tokamakenergy.com/
                      - '@type': ListItem
                        position: 2
                        name: Tokamak Energy&#8217;s &#8216;Focus Collection&#8217; featured in prestigious
                          Nuclear Fusion journal
                    - '@type': WebSite
                      '@id': https://tokamakenergy.com/#website
                      url: https://tokamakenergy.com/
                      name: Tokamak Energy
                      description: Ensuring energy security for all
                      publisher:
                        '@id': https://tokamakenergy.com/#organization
                      potentialAction:
                      - '@type': SearchAction
                        target:
                          '@type': EntryPoint
                          urlTemplate: https://tokamakenergy.com/?s={search_term_string}
                        query-input:
                          '@type': PropertyValueSpecification
                          valueRequired: true
                          valueName: search_term_string
                      inLanguage: en-GB
                    - '@type': Organization
                      '@id': https://tokamakenergy.com/#organization
                      name: Tokamak Energy
                      url: https://tokamakenergy.com/
                      logo:
                        '@type': ImageObject
                        inLanguage: en-GB
                        '@id': https://tokamakenergy.com/#/schema/logo/image/
                        url: https://www.tokamakenergy.co.uk/wp-content/uploads/2022/09/tokamak_logo.png
                        contentUrl: https://www.tokamakenergy.co.uk/wp-content/uploads/2022/09/tokamak_logo.png
                        width: 2000
                        height: 485
                        caption: Tokamak Energy
                      image:
                        '@id': https://tokamakenergy.com/#/schema/logo/image/
                      sameAs:
                      - https://x.com/TokamakEnergy
                      - https://www.instagram.com/tokamakenergy/
                      - https://www.linkedin.com/company/tokamak-energy-ltd
                      - https://www.youtube.com/channel/UCuSlFJbBUIj1zfJLRnGXSow
                    - '@type': Person
                      '@id': https://tokamakenergy.com/#/schema/person/d72ed58d58a15a93dc6a403c5040a1bd
                      name: Stuart White
                      url: https://tokamakenergy.com/author/stuart/
        '400':
          description: Bad request — an invalid parameter value was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/posts/{id}:
    get:
      operationId: getPost
      summary: Retrieve a post
      description: Returns a single post by its numeric identifier. Anonymous, read-only.
      tags:
      - Posts
      parameters:
      - name: id
        in: path
        required: true
        description: Unique numeric identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        description: Override the default excerpt length.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: The requested post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          description: Bad request — an invalid parameter value was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found — no item exists with the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      title: WPError
      description: WordPress REST API error envelope, observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id or rest_forbidden.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error data.
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
    Post:
      title: post
      type: object
      properties:
        date:
          description: The date the post was published, in the site's time zone.
          type:
          - string
          nullable: true
          format: date-time
        date_gmt:
          description: The date the post was published, as GMT.
          type:
          - string
          nullable: true
          format: date-time
        guid:
          description: The globally unique identifier for the post.
          type: object
          properties:
            raw:
              description: GUID for the post, as it exists in the database.
              type: string
            rendered:
              description: GUID for the post, transformed for display.
              type: string
        id:
          description: Unique identifier for the post.
          type: integer
        link:
          description: URL to the post.
          type: string
          format: uri
        modified:
          description: The date the post was last modified, in the site's time zone.
          type: string
          format: date-time
        modified_gmt:
          description: The date the post was last modified, as GMT.
          type: string
          format: date-time
        slug:
          description: An alphanumeric identifier for the post unique to its type.
          type: string
        status:
          description: A named status for the object.
          type: string
          enum:
          - publish
          - future
          - draft
          - pending
          - private
        type:
          description: Type of post.
          type: string
        password:
          description: A password to protect access to the content and excerpt.
          type: string
        permalink_template:
          description: Permalink template for the post.
          type: string
        generated_slug:
          description: Slug automatically generated from the post title.
          type: string
        class_list:
          description: An array of the class names for the post container element.
          type: array
          items:
            type: string
        title:
          description: The title for the post.
          type: object
          properties:
            raw:
              description: Title for the object, as it exists in the database.
              type: string
            rendered:
              description: HTML title for the object, transformed for display.
              type: string
        content:
          description: The content for the post.
          type: object
          properties:
            raw:
              description: Content for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML content for the post, transformed for display.
              type: string
            block_version:
              description: Version of the content block format used by the post.
              type: integer
            protected:
              description: Whether the content is protected with a password.
              type: boolean
        author:
          description: The ID for the author of the post.
          type: integer
        excerpt:
          description: The excerpt for the post.
          type: object
          properties:
            raw:
              description: Excerpt for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML excerpt for the post, transformed for display.
              type: string
            protected:
              description: Whether the excerpt is protected with a password.
              type: boolean
        featured_media:
          description: The ID of the featured media for the post.
          type: integer
        comment_status:
          description: Whether or not comments are open on the post.
          type: string
          enum:
          - open
          - closed
        ping_status:
          description: Whether or not the post can be pinged.
          type: string
          enum:
          - open
          - closed
        format:
          description: The format for the post.
          type: string
          enum:
          - standard
          - aside
          - chat
          - gallery
          - link
          - image
          - quote
          - status
          - video
          - audio
        meta:
          description: Meta fields.
          type: object
          properties:
            inline_featured_image:
              type: boolean
              title: ''
              description: ''
              default: false
            footnotes:
              type: string
              title: ''
              description: ''
              default: ''
        sticky:
          description: Whether or not the post should be treated as sticky.
          type: boolean
        template:
          description: The theme file to use to display the post.
          type: string
        categories:
          description: The terms assigned to the object in the category taxonomy.
          type: array
          items:
            type: integer
        tags:
          description: The terms assigned to the object in the post_tag taxonomy.
          type: array
          items:
            type: integer
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (HTTP Basic). Declared by this site at GET /wp-json/
        under authentication.application-passwords. Required only for authenticated scopes and write operations;
        every operation described in this document is readable anonymously.
security:
- {}
- applicationPassword: []
x-provenance:
  generated: '2026-08-30'
  method: derived
  source: https://tokamakenergy.com/wp-json/ (route descriptors) + OPTIONS on each collection route (item
    schemas), probed 2026-08-30
  note: Derived by API Evangelist from the WordPress REST API descriptors this site publishes at its own
    /wp-json/ root. Parameters, types, enums, defaults and item schemas are the values WordPress itself
    reports for this host; response examples are verbatim live captures. Tokamak Energy does not publish
    an OpenAPI document of its own.
