openapi: 3.1.0
info:
  title: Tokamak Energy Taxonomy API
  version: wp/v2
  description: Public, unauthenticated read access to the classification terms Tokamak Energy applies
    to its news archive — the category taxonomy (8 terms live on 2026-08-30) and the post tag taxonomy
    (0 terms live; the taxonomy is registered and callable but currently unused). Read-only anonymous
    surface.
  contact:
    name: Tokamak Energy
    url: https://tokamakenergy.com/contact-us/
  x-derived-from: Live WordPress REST API route descriptors and OPTIONS item schemas served by https://tokamakenergy.com/wp-json/
    (probed 2026-08-30).
servers:
- url: https://tokamakenergy.com/wp-json
  description: Tokamak Energy WordPress REST API
tags:
- name: Taxonomy
  description: Public, unauthenticated read access to the classification terms Tokamak Energy applies
    to its news archive — the category taxonomy (8 terms live on 2026-08-30) and the post tag taxonomy
    (0 terms live;
paths:
  /wp/v2/categories:
    get:
      operationId: listCategories
      summary: List categories
      description: Returns a paginated collection of categories published on tokamakenergy.com. Anonymous,
        read-only. Probed live 2026-08-30 (8 items).
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: search
        in: query
        description: Limit results to those matching a string.
        required: false
        schema:
          type: string
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by term attribute.
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        required: false
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        description: Limit result set to terms assigned to a specific parent.
        required: false
        schema:
          type: integer
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        required: false
        schema:
          type: integer
          default: null
      - name: slug
        in: query
        description: Limit result set to terms with one or more specific slugs.
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A page of categories.
          headers: &id001
            X-WP-Total:
              description: Total number of items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page value.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
              example:
              - id: 2
                count: 2
                description: ''
                link: https://tokamakenergy.com/category/blog/
                name: Blog
                slug: blog
                taxonomy: category
                parent: 0
                meta: []
                yoast_head: '<!-- This site is optimized with the Yoast SEO plugin v27.4 - https://yoast.com/product/yoast-seo-wordpress/
                  -->

                  <title>Blog Archives - Tokamak Energy</title>

                  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large,
                  max-video-preview:-1" />

                  <link rel="canonical" href="https://tokamakenergy.com/category/blog/" />

                  <meta property="og:locale" content="en_GB" />

                  <meta property="og:type" content="article" />

                  <meta property="og:title" content="Blog Archives - Tokamak Energy" />

                  <meta property="og:url" content="https://tokamakenergy.com/category/blog/" />

                  <meta property="og … [truncated by API Evangelist for readability; full value returned
                  by the live API]'
                yoast_head_json:
                  title: Blog Archives - Tokamak Energy
                  robots:
                    index: index
                    follow: follow
                    max-snippet: max-snippet:-1
                    max-image-preview: max-image-preview:large
                    max-video-preview: max-video-preview:-1
                  canonical: https://tokamakenergy.com/category/blog/
                  og_locale: en_GB
                  og_type: article
                  og_title: Blog Archives - Tokamak Energy
                  og_url: https://tokamakenergy.com/category/blog/
                  og_site_name: Tokamak Energy
                  twitter_card: summary_large_image
                  twitter_site: '@TokamakEnergy'
                  schema:
                    '@context': https://schema.org
                    '@graph':
                    - '@type': CollectionPage
                      '@id': https://tokamakenergy.com/category/blog/
                      url: https://tokamakenergy.com/category/blog/
                      name: Blog Archives - Tokamak Energy
                      isPartOf:
                        '@id': https://tokamakenergy.com/#website
                      breadcrumb:
                        '@id': https://tokamakenergy.com/category/blog/#breadcrumb
                      inLanguage: en-GB
                    - '@type': BreadcrumbList
                      '@id': https://tokamakenergy.com/category/blog/#breadcrumb
                      itemListElement:
                      - '@type': ListItem
                        position: 1
                        name: Home
                        item: https://tokamakenergy.com/
                      - '@type': ListItem
                        position: 2
                        name: Blog
                    - '@type': WebSite
                      '@id': https://tokamakenergy.com/#website
                      url: https://tokamakenergy.com/
                      name: Tokamak Energy
                      description: Ensuring energy security for all
                      publisher:
                        '@id': https://tokamakenergy.com/#organization
                      potentialAction:
                      - '@type': SearchAction
                        target:
                          '@type': EntryPoint
                          urlTemplate: https://tokamakenergy.com/?s={search_term_string}
                        query-input:
                          '@type': PropertyValueSpecification
                          valueRequired: true
                          valueName: search_term_string
                      inLanguage: en-GB
                    - '@type': Organization
                      '@id': https://tokamakenergy.com/#organization
                      name: Tokamak Energy
                      url: https://tokamakenergy.com/
                      logo:
                        '@type': ImageObject
                        inLanguage: en-GB
                        '@id': https://tokamakenergy.com/#/schema/logo/image/
                        url: https://www.tokamakenergy.co.uk/wp-content/uploads/2022/09/tokamak_logo.png
                        contentUrl: https://www.tokamakenergy.co.uk/wp-content/uploads/2022/09/tokamak_logo.png
                        width: 2000
                        height: 485
                        caption: Tokamak Energy
                      image:
                        '@id': https://tokamakenergy.com/#/schema/logo/image/
                      sameAs:
                      - https://x.com/TokamakEnergy
                      - https://www.instagram.com/tokamakenergy/
                      - https://www.linkedin.com/company/tokamak-energy-ltd
                      - https://www.youtube.com/channel/UCuSlFJbBUIj1zfJLRnGXSow
              - id: 3
                count: 0
                description: ''
                link: https://tokamakenergy.com/category/collaborator/
                name: Collaborator
                slug: collaborator
                taxonomy: category
                parent: 0
                meta: []
                yoast_head: '<!-- This site is optimized with the Yoast SEO plugin v27.4 - https://yoast.com/product/yoast-seo-wordpress/
                  -->

                  <title>Collaborator Archives - Tokamak Energy</title>

                  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large,
                  max-video-preview:-1" />

                  <link rel="canonical" href="https://tokamakenergy.com/category/collaborator/" />

                  <meta property="og:locale" content="en_GB" />

                  <meta property="og:type" content="article" />

                  <meta property="og:title" content="Collaborator Archives - Tokamak Energy" />

                  <meta property="og:url" content="https://tokamakenergy.com/category/coll … [truncated
                  by API Evangelist for readability; full value returned by the live API]'
                yoast_head_json:
                  title: Collaborator Archives - Tokamak Energy
                  robots:
                    index: index
                    follow: follow
                    max-snippet: max-snippet:-1
                    max-image-preview: max-image-preview:large
                    max-video-preview: max-video-preview:-1
                  canonical: https://tokamakenergy.com/category/collaborator/
                  og_locale: en_GB
                  og_type: article
                  og_title: Collaborator Archives - Tokamak Energy
                  og_url: https://tokamakenergy.com/category/collaborator/
                  og_site_name: Tokamak Energy
                  twitter_card: summary_large_image
                  twitter_site: '@TokamakEnergy'
                  schema:
                    '@context': https://schema.org
                    '@graph':
                    - '@type': CollectionPage
                      '@id': https://tokamakenergy.com/category/collaborator/
                      url: https://tokamakenergy.com/category/collaborator/
                      name: Collaborator Archives - Tokamak Energy
                      isPartOf:
                        '@id': https://tokamakenergy.com/#website
                      breadcrumb:
                        '@id': https://tokamakenergy.com/category/collaborator/#breadcrumb
                      inLanguage: en-GB
                    - '@type': BreadcrumbList
                      '@id': https://tokamakenergy.com/category/collaborator/#breadcrumb
                      itemListElement:
                      - '@type': ListItem
                        position: 1
                        name: Home
                        item: https://tokamakenergy.com/
                      - '@type': ListItem
                        position: 2
                        name: Collaborator
                    - '@type': WebSite
                      '@id': https://tokamakenergy.com/#website
                      url: https://tokamakenergy.com/
                      name: Tokamak Energy
                      description: Ensuring energy security for all
                      publisher:
                        '@id': https://tokamakenergy.com/#organization
                      potentialAction:
                      - '@type': SearchAction
                        target:
                          '@type': EntryPoint
                          urlTemplate: https://tokamakenergy.com/?s={search_term_string}
                        query-input:
                          '@type': PropertyValueSpecification
                          valueRequired: true
                          valueName: search_term_string
                      inLanguage: en-GB
                    - '@type': Organization
                      '@id': https://tokamakenergy.com/#organization
                      name: Tokamak Energy
                      url: https://tokamakenergy.com/
                      logo:
                        '@type': ImageObject
                        inLanguage: en-GB
                        '@id': https://tokamakenergy.com/#/schema/logo/image/
                        url: https://www.tokamakenergy.co.uk/wp-content/uploads/2022/09/tokamak_logo.png
                        contentUrl: https://www.tokamakenergy.co.uk/wp-content/uploads/2022/09/tokamak_logo.png
                        width: 2000
                        height: 485
                        caption: Tokamak Energy
                      image:
                        '@id': https://tokamakenergy.com/#/schema/logo/image/
                      sameAs:
                      - https://x.com/TokamakEnergy
                      - https://www.instagram.com/tokamakenergy/
                      - https://www.linkedin.com/company/tokamak-energy-ltd
                      - https://www.youtube.com/channel/UCuSlFJbBUIj1zfJLRnGXSow
              - id: 19
                count: 0
                description: ''
                link: https://tokamakenergy.com/category/news-article/
                name: News article
                slug: news-article
                taxonomy: category
                parent: 0
                meta: []
                yoast_head: '<!-- This site is optimized with the Yoast SEO plugin v27.4 - https://yoast.com/product/yoast-seo-wordpress/
                  -->

                  <title>News article Archives - Tokamak Energy</title>

                  <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large,
                  max-video-preview:-1" />

                  <link rel="canonical" href="https://tokamakenergy.com/category/news-article/" />

                  <meta property="og:locale" content="en_GB" />

                  <meta property="og:type" content="article" />

                  <meta property="og:title" content="News article Archives - Tokamak Energy" />

                  <meta property="og:url" content="https://tokamakenergy.com/category/news … [truncated
                  by API Evangelist for readability; full value returned by the live API]'
                yoast_head_json:
                  title: News article Archives - Tokamak Energy
                  robots:
                    index: index
                    follow: follow
                    max-snippet: max-snippet:-1
                    max-image-preview: max-image-preview:large
                    max-video-preview: max-video-preview:-1
                  canonical: https://tokamakenergy.com/category/news-article/
                  og_locale: en_GB
                  og_type: article
                  og_title: News article Archives - Tokamak Energy
                  og_url: https://tokamakenergy.com/category/news-article/
                  og_site_name: Tokamak Energy
                  twitter_card: summary_large_image
                  twitter_site: '@TokamakEnergy'
                  schema:
                    '@context': https://schema.org
                    '@graph':
                    - '@type': CollectionPage
                      '@id': https://tokamakenergy.com/category/news-article/
                      url: https://tokamakenergy.com/category/news-article/
                      name: News article Archives - Tokamak Energy
                      isPartOf:
                        '@id': https://tokamakenergy.com/#website
                      breadcrumb:
                        '@id': https://tokamakenergy.com/category/news-article/#breadcrumb
                      inLanguage: en-GB
                    - '@type': BreadcrumbList
                      '@id': https://tokamakenergy.com/category/news-article/#breadcrumb
                      itemListElement:
                      - '@type': ListItem
                        position: 1
                        name: Home
                        item: https://tokamakenergy.com/
                      - '@type': ListItem
                        position: 2
                        name: News article
                    - '@type': WebSite
                      '@id': https://tokamakenergy.com/#website
                      url: https://tokamakenergy.com/
                      name: Tokamak Energy
                      description: Ensuring energy security for all
                      publisher:
                        '@id': https://tokamakenergy.com/#organization
                      potentialAction:
                      - '@type': SearchAction
                        target:
                          '@type': EntryPoint
                          urlTemplate: https://tokamakenergy.com/?s={search_term_string}
                        query-input:
                          '@type': PropertyValueSpecification
                          valueRequired: true
                          valueName: search_term_string
                      inLanguage: en-GB
                    - '@type': Organization
                      '@id': https://tokamakenergy.com/#organization
                      name: Tokamak Energy
                      url: https://tokamakenergy.com/
                      logo:
                        '@type': ImageObject
                        inLanguage: en-GB
                        '@id': https://tokamakenergy.com/#/schema/logo/image/
                        url: https://www.tokamakenergy.co.uk/wp-content/uploads/2022/09/tokamak_logo.png
                        contentUrl: https://www.tokamakenergy.co.uk/wp-content/uploads/2022/09/tokamak_logo.png
                        width: 2000
                        height: 485
                        caption: Tokamak Energy
                      image:
                        '@id': https://tokamakenergy.com/#/schema/logo/image/
                      sameAs:
                      - https://x.com/TokamakEnergy
                      - https://www.instagram.com/tokamakenergy/
                      - https://www.linkedin.com/company/tokamak-energy-ltd
                      - https://www.youtube.com/channel/UCuSlFJbBUIj1zfJLRnGXSow
        '400':
          description: Bad request — an invalid parameter value was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/categories/{id}:
    get:
      operationId: getCategory
      summary: Retrieve a category
      description: Returns a single category by its numeric identifier. Anonymous, read-only.
      tags:
      - Taxonomy
      parameters:
      - name: id
        in: path
        required: true
        description: Unique numeric identifier for the category.
        schema:
          type: integer
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: The requested category.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Bad request — an invalid parameter value was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found — no item exists with the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/tags:
    get:
      operationId: listTags
      summary: List tags
      description: Returns a paginated collection of tags published on tokamakenergy.com. Anonymous, read-only.
        Probed live 2026-08-30 (0 items).
      tags:
      - Taxonomy
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: search
        in: query
        description: Limit results to those matching a string.
        required: false
        schema:
          type: string
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        required: false
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by term attribute.
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        required: false
        schema:
          type: boolean
          default: false
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        required: false
        schema:
          type: integer
          default: null
      - name: slug
        in: query
        description: Limit result set to terms with one or more specific slugs.
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A page of tags.
          headers: *id001
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '400':
          description: Bad request — an invalid parameter value was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/tags/{id}:
    get:
      operationId: getTag
      summary: Retrieve a tag
      description: Returns a single tag by its numeric identifier. Anonymous, read-only.
      tags:
      - Taxonomy
      parameters:
      - name: id
        in: path
        required: true
        description: Unique numeric identifier for the tag.
        schema:
          type: integer
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: The requested tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          description: Bad request — an invalid parameter value was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Not found — no item exists with the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      title: WPError
      description: WordPress REST API error envelope, observed live on this host.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id or rest_forbidden.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error data.
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
    Category:
      title: category
      type: object
      properties:
        id:
          description: Unique identifier for the term.
          type: integer
        count:
          description: Number of published posts for the term.
          type: integer
        description:
          description: HTML description of the term.
          type: string
        link:
          description: URL of the term.
          type: string
          format: uri
        name:
          description: HTML title for the term.
          type: string
        slug:
          description: An alphanumeric identifier for the term unique to its type.
          type: string
        taxonomy:
          description: Type attribution for the term.
          type: string
          enum:
          - category
        parent:
          description: The parent term ID.
          type: integer
        meta:
          description: Meta fields.
          type: object
    Tag:
      title: tag
      type: object
      properties:
        id:
          description: Unique identifier for the term.
          type: integer
        count:
          description: Number of published posts for the term.
          type: integer
        description:
          description: HTML description of the term.
          type: string
        link:
          description: URL of the term.
          type: string
          format: uri
        name:
          description: HTML title for the term.
          type: string
        slug:
          description: An alphanumeric identifier for the term unique to its type.
          type: string
        taxonomy:
          description: Type attribution for the term.
          type: string
          enum:
          - post_tag
        meta:
          description: Meta fields.
          type: object
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (HTTP Basic). Declared by this site at GET /wp-json/
        under authentication.application-passwords. Required only for authenticated scopes and write operations;
        every operation described in this document is readable anonymously.
security:
- {}
- applicationPassword: []
x-provenance:
  generated: '2026-08-30'
  method: derived
  source: https://tokamakenergy.com/wp-json/ (route descriptors) + OPTIONS on each collection route (item
    schemas), probed 2026-08-30
  note: Derived by API Evangelist from the WordPress REST API descriptors this site publishes at its own
    /wp-json/ root. Parameters, types, enums, defaults and item schemas are the values WordPress itself
    reports for this host; response examples are verbatim live captures. Tokamak Energy does not publish
    an OpenAPI document of its own.
